<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.video.mapper.CourseMapper">
<select id="findSCount" resultType="Integer">
select count(1) from course c  left join subject s  on s.id=c.subject_id  ;
</select>
<select id="findS" parameterType="java.util.List" resultType="course">
select c.*,s.* from course c  left join subject s  on s.id=c.subject_id 
limit ${currentPage},10
 ;
</select>
</mapper>
