<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.video.mapper.TMapper">
<select id="findbiao"  resultType="video">
select c.course_name courseName ,avg(v.video_play_times) video_play_times from video v right join course c on v.course_id=c.id group by c.course_name ;
</select>


</mapper>
